$colors:(
    white: #ffffff,
    black: #000000,

    default-background: #98DAFA,

    grey-100: #d4d5d6,
    grey-200: #bfc0c2,
    grey-300: #aaabad,
    grey-400: #959699,
    grey-500: #7f8185,
    grey-600: #6a6c70,
    grey-700: #55575c,
    grey-800: #3f4247,
    grey-900: #2a2d33,
)