@use "sass:map";

@import "colors.scss";
@import "typography.scss";

.org-button{
    width: 100%;
    border: 3px solid map-get($colors, grey-500);
    background-color: transparent;
    border-radius: 0.2em;

    &:hover{
        border-color: map-get($colors, grey-500);
        background-color: map-get($colors, grey-500);
        
        .org-button-label{
            color: map-get($colors, white);
        }
    }
    
    &:active{
        border-color: map-get($colors, grey-700);
        background-color: map-get($colors, grey-500);
        
        .org-button-label{
            color: map-get($colors, white);
        }
    }
    
    &:focus{
        border-color: map-get($colors, grey-700);
        background-color: map-get($colors, grey-500);
        
        .org-button-label{
            color: map-get($colors, white);
        }
    }
}

.org-button-label{
    @include get-font(H900, default , center);
    color: map-get($colors, grey-900);
}

.org-button-xs{
    .org-button-label{
        @include get-font(H100, default , center);
    }
}

.org-button-s{
    .org-button-label{
        @include get-font(H300, default , center);
    }
}

.org-button-m{
    .org-button-label{
        @include get-font(H500, default , center);
    }
}

.org-button-l{
    .org-button-label{
        @include get-font(H700, default , center);
    }
}

.org-button-xl{
    .org-button-label{
        @include get-font(H900, default , center);
    }
}