<ng-container *transloco="let t">
    <div class="org-page-wrapper" fxLayout="column" fxLayoutAlign="start center">
        <org-logo></org-logo>
        <org-menu-card>
            <ng-template orgTemplate="front">
                <org-main-menu
                    (onOptionsMenuSelect)="onOptionsSelectHandler($event)">
            </org-main-menu>
            </ng-template>
            <ng-template orgTemplate="back">
                <org-options-menu></org-options-menu>
            </ng-template>
        </org-menu-card>
    </div>
</ng-container>

